/* Nav */
.tabs {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 1em 0 0 0;
    font-weight: 300;
}

.tabs nav {
    text-align: center;
}

.tabs nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}

.tabs nav ul li {
    border: 1px solid #becbd2;
    border-bottom: none;
    margin: 0 0.25em;
    display: block;
    float: left;
    position: relative;
}

.tabs nav li a.tab-current {
    border: 1px solid #47a3da;
    box-shadow: inset 0 2px #47a3da;
    border-bottom: none;
    z-index: 100;
    color: #47a3da;
    background: aliceblue;
}

.tabs nav li a.tab-current:before,
.tabs nav li a.tab-current:after {
    content: '';
    position: absolute;
    height: 1px;
    right: 100%;
    bottom: 0;
    width: 1000px;
    background: #47a3da;
}

.tabs nav li a.tab-current:after {
    right: auto;
    left: 100%;
    width: 4000px;
}

.tabs nav a {
    color: #becbd2;
    display: block;
    font-size: 1.45em;
    line-height: 2.5;
    padding: 0 1.25em;
    white-space: nowrap;
}

.tabs nav a:hover {
    color: #768e9d;
}

/* Content */
.content main {
    font-size: 1.25em;
    padding: 1em;
    margin: 0;
    background: aliceblue;
}

table.table-dummy {
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1.7em;
    text-align: center;
    border-collapse: collapse;
}

.table-dummy thead th {
    padding: 6px 10px;
    text-transform: uppercase;
    color: #444;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    border-bottom: 5px solid #47a3da;
}

.table-dummy tbody td {
    padding: 10px;
}

.table-dummy tbody tr:nth-child(4) td {
    font-size: 26px;
    font-weight: bold;
}

.table-dummy tbody td:nth-child(even) {
    color: #444;
    border-bottom: 1px solid #47a3da;
    text-shadow: 1px 1px 1px #fff;
}

.table-dummy tbody td:nth-child(odd) {
    color: #f0f0f0;
    border-bottom: 1px solid #47a3da;
    text-shadow: 1px 1px 1px #000;
}

.table-dummy tbody td:nth-last-child(1) {
    border-right: 1px solid #47a3da;
}

.table-dummy tbody th {
    color: #696969;
    text-align: right;
    padding: 0px 10px;
    border-right: 1px solid #47a3da;
}

.list-dummy {
    list-style-type: circle;
    color: #444;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}

/* media queries */

@media screen and (max-width: 52.375em) {
    .tabs nav a span {
        display: none;
    }

    .tabs nav a:before {
        margin-right: 0;
    }
}

@media screen and (max-width: 32em) {
    .tabs nav ul,
    .tabs nav ul li a {
        width: 100%;
        padding: 0;
    }

    .tabs nav ul li {
        width: 20%;
        width: calc(20% + 1px);
        margin: 0 0 0 -1px;
    }

    .tabs nav ul li:last-child {
        border-right: none;
    }
}
